@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html, body {
    cursor: url("../Images/circle-fill.svg"), auto;
    margin: 0;
}
.fullscreen-video-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.fullscreen-video-container video {
    z-index: -1;
    position: absolute;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: saturate(1.2);
}
.fullscreen-video-content {
    background-color: transparent;
    color: black;
    border-radius: 30px;
    padding: 0px;
    margin-top: 40vh;
    margin-left: 50vw;
}
.fullscreen-video-content-title {
    font-family: 'Dancing Script', cursive;
    font-size: 135px;
}
.fullscreen-video-content-link a{
    cursor: url("../Images/circle-fill.svg"), auto;
    font-family: 'Montserrat', sans-serif;
    color: #1F2833;
    text-decoration: none;
    margin-left: 2vw;
    font-size: 22px;
}
.fullscreen-video-content-link a::before {
    transition: all 1s ease-in-out;
}
.unclick {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.home-icon {
    border-radius: 30px 0 0 30px;
    background-color: rgba(202, 51, 5, 0.1);
    position: absolute;
    padding: 20px;
    font-size: 0px;
    right: 0px;
    transition: all 0.3s ease-out;
}
.home-icon:hover {
    cursor: url("../Images/circle-fill.svg"), auto;
    font-size: 48px;
    content: "Home";
    padding-right: 25px;
    background-color: rgba(202, 51, 5, 0.3);
}
.home-icon:active {
    background-color: rgba(202, 51, 5, 0.7);
}
.quotes {
    border-radius: 30px 0 0 30px;
    background-color: rgba(9, 197, 25, 0.1);
    position: absolute;
    padding: 20px;
    font-size: 0px;
    top: 120px;
    right: 0px;
    transition: all 0.3s ease-out;
}
.quotes:hover {
    cursor: url("../Images/circle-fill.svg"), auto;
    font-size: 48px;
    content: "Quotes";
    padding-right: 25px;
    background-color: rgba(9, 197, 25, 0.3);
}
.quotes:active {
    background-color: rgba(9, 197, 25, 0.7);    
}